@import "../../variables.scss";

.sort-container {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;

  @media screen and (min-width: 992px) {
    flex-direction: row;
    gap: 10px;
    height: auto;
    padding: 15px;
  }

  label {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    pointer-events: visible;
    margin: 10px 5px;
    padding: 0;
    @media screen and (min-width: 992px) {
      font-size: 14px;
    }
  }

  input {
    width: 20px;
    height: 20px;
  }
}
