.outlet-body {
  position: relative;
  top: 9vh;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    position: relative;
    top: 64px;
    max-width: 720px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    background: white;
  }

  @media screen and (min-width: 992px) {
    max-width: 960px;
    background: white;
  }
}
