@import "../../variables.scss";

.suggestions-list {
  list-style: none;
  position: fixed;
  width: 300px;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  max-width: 250px;
  z-index: 999999;
  border-radius: 5px;
}

.suggestion {
  background-color: $white_color_dream;
  padding: 10px;
  color: $black_color;
  cursor: pointer;
}
.suggestion:hover {
  background-color: $dark_blue;
  color: $white_color;
}
.selected {
  background-color: $dark_blue;
  color: $white_color;
}
