@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: $gradient_color;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: $white_color;
  font-weight: 500;
}

.btn:hover {
  background: $secondary_color;
}

img {
  width: auto;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: $body_color;
}

.p-relative {
  position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: $black_color;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: $black_color;
  transition: 0.1s ease-out;
  width: 100%;
}

input:focus {
  border-color: $primary_color;
}

input:focus + label {
  color: $primary_color;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.select {
  // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid $gray;
}

/* Remove focus */
.select-text:focus {
  outline: none;
  border: 2px solid $primary_color;
}

/* Use custom arrow */
.select .select-text {
  appearance: none;
  -webkit-appearance: none;
  color: $black_color;
}

.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
  color: $black_color;
  background: white;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding: 0 5px;
  left: 10px;
  top: 12px;
  transition: 0.2s ease all;
  transform: translateY(0);
}

/* active state */
.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
  color: $primary_color;
  top: -8px;
  transition: 0.2s ease all;
  font-size: 1rem;
}

.select-text:valid:not(focus) ~ .select-label {
  color: $black_color;
  // background: red;
}
.select-text:valid:focus ~ .select-label {
  color: $primary_color;
}

.warning {
  color: $red_color;
}
