$primary_color: hsl(199, 100%, 33%);
$secondary_color: hsl(187, 85%, 43%);
$dark_blue: rgb(20 110 190);
$gradient_color: linear-gradient(
  to right,
  hsl(187, 85%, 43%),
  hsl(199, 100%, 33%)
);
$white_color: #fff;
$black_color: #000;
$text_color: hsl(240, 4%, 36%);
$white_color_dream: hsl(0, 0%, 93%);
$grey_text: rgb(190, 190, 190);
$input_color: rgb(239, 239, 239);
$body_color: rgb(240, 240, 246);
$card_bg: rgb(225, 225, 235);
$green_color: rgb(39, 190, 39);
$light_green_color: rgb(2, 82, 2);
$red_color: rgb(225, 8, 8);
$border_color: rgba(0, 0, 0, 0.54);
$accent_color: #3f51b5;
